<div class="page" id="home-page" >
  <h1 class="logo">Animechine Merch Store</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="shirt-img" src="/images/dtg-shirt.jpg" alt="" />
        <h3 class="shirt-desc">DTG Deprive</h3>
        <h5 class="shirt-desc">Small - $19.99</h5>
        <h5 class="add-cart" ><a href="javascript://">Add to Cart</a></h5>
      </div>
      <div class="col-md-6">
        <img class="shirt-img" src="/images/dtg-shirt-2.jpg" alt="" />
        <h3 class="shirt-desc">DTG Uzi Skull</h3>
        <h5 class="shirt-desc">Medium - $19.99</h5>
        <h5 class="add-cart" ><a href="javascript://">Add to Cart</a></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="shirt-img" src="/images/dtg-shirt-3.jpg" alt="" />
        <h3 class="shirt-desc">DTG Black Earth Child</h3>
        <h5 class="shirt-desc">Large - $19.99</h5>
        <h5 class="add-cart" ><a href="javascript://">Add to Cart</a></h5>
      </div>
      <div class="col-md-6">
        <img class="shirt-img" src="/images/dtg-shirt-4.jpg" alt="" />
        <h3 class="shirt-desc">DTG Riddick</h3>
        <h5 class="shirt-desc">X-Large - $19.99</h5>
        <h5 class="add-cart" ><a href="javascript://">Add to Cart</a></h5>
      </div>
    </div>
  </div>
</div>

<div class="page" id="login-page">
  <h1>Log In!</h1>
  <form class="login-form">
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="password">
  </div>
  <button type="submit" class="btn btn-default" id="login-submit">Submit</button>
  </form>
  <p class="sign-up">Don't have an account? <a href="javascript://">Create </a>one now!</p>
</div>

<div class="page" id="cart-page">
  <h1>Your Shopping Cart!</h1>
</div>
