// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #222;
$logo: #f9f9f9;

body {
  background-color: $black;
  font-family: 'Questrial', sans-serif;
  color: $logo;
}

.logo {
  color: $logo;
  text-transform: uppercase;
  text-align: center;
}

.page {
  overflow: auto;
  display: none;
}

#home {
  
}

#login-page {

}

#cart-page {

}
